

<center>
    <div style="width:70%;">
        <img src="/New/media/index_01.gif" style="width:100%; height: 131px;border-bottom">
        <div id="NewType" style="width:100%;height:40px;">
            <script>
                $.ajax({
                    type:'get',
                    url:"/New/NewsManage/Display/ReadTypeContents",
                    success:function(Content){
                        createShowingNewType(Content)
                    }
                 });
                function createShowingNewType(data) {
                    var Str = "<a href ='/New'><img src = '/New/media/index_02.gif' style ='width:10%; height: 40px;float:left'></a>";
  		            var len = data.length;
  		            for (var i = 0; i < len; i++) {
                        Str = Str + "<a href ='/New/NewsManage/Display/TypeDisplayIndex?ContentType="+ data[i].NewPart.Name+"'><img src = '/New/media/" +data[i].NewPart.Name+ ".gif' style ='width:10%; height: 40px;float:left'></a>";
                    }
                    $("#NewType").html(Str);
                }
            </script>
        </div>
        <div style="width:100%;height:40px;margin-left:1px;">             	</div> 
        <div>
            <table width="100%" border="0" cellspacing="10" cellpadding="0">
                <tbody>
                    <tr valign="top">
                        <td class="news_list">
                            <script type="text/javascript" charset="utf-8">
                             // 获取url的参数
                            function getQueryString(name) {
                                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                                var r = window.location.search.substr(1).match(reg);
                                if (r != null) return decodeURI(r[2]); return null;
                             }
                             var ContentType = getQueryString("ContentType");
                             $.ajax({
                                type:'get',
                                url:"/New/NewsManage/Display/TypeDisplay?ContentType="+ContentType,//这里是url
                                success:function(Content){
                                    ShowingNewTypeContent(Content);
                                    console.log(Content);
                                 }
                              });

                             function ShowingNewTypeContent(Data){
                            //当前位置
                                $("#tr1").html("<td>您当前的位置：<a href='/New'>首页</a>&nbsp;&gt;&nbsp;<a href='/New/NewsManage/Display/TypeDisplayIndex?ContentType="+ContentType+"'>"+ContentType.substring(12)+"</a></td>");
                                var Str1 = "";
                                var len = Data.length;
                                for(var i = 0 ; i< len; i++)
                                {
                                      if(Data[i].TypeNewClassifyPart) //判断是否有分类
                                      {
                                           Str1 = Str1 +" <li ><span style='float:left;'>广大人 | "+Data[i].TypeNewClassifyPart.NewClassifyType+"</span><a href='/New/NewsManage/Display/NewPartDisplay?ContentType="+ContentType+
                                                     "&ContentItemId="+Data[i].ContentItemId+"' title='"+Data[i].TitlePart.Title+
                                                     "'>"+Data[i].TitlePart.Title+"</a><span style='float:right;'>"+Data[i].CreatedUtc.substring(0,10)+"</span></li>";
                                      }
                                      else{
                                            Str1 = Str1 +" <li ><a href='/New/NewsManage/Display/NewPartDisplay?ContentType="+ContentType+
                                                     "&ContentItemId="+Data[i].ContentItemId+"' title='"+Data[i].TitlePart.Title+
                                                     "'>"+Data[i].TitlePart.Title+"</a><span style='float:right;'>"+Data[i].CreatedUtc.substring(0,10)+"</span></li>";
                                      }
                                }
                                 $("#ul1").html(Str1);
                              }

              </script>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="position">
                                <tbody>
                                    <tr id="tr1"></tr>

                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="box">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <ul id="ul1"></ul>

                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr></tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   
</center>