@using OrchardCore.ContentManagement;
@inject IContentManager ContentManager
@{
    var typeDisplayName = Model.TypeDisplayName;
    var pageTitle = T["Manage Content"];
    var createLinkText = T["Create New Content"];
    if (!string.IsNullOrWhiteSpace(typeDisplayName))
    {
        pageTitle = T["Manage {0} Content", (string)typeDisplayName];
        createLinkText = T["Create New {0}", (string)typeDisplayName];
    }

    IEnumerable<string> cultures = Model.Options.Cultures;


}
<h1>@RenderTitleSegments(pageTitle)</h1>
<nav class="admin-toolbar">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="~/Admin/Contents/ContentTypes/ContentType_@typeDisplayName/Create" id="btnCreate" class="btn btn-primary" role="button">创建该内容</a>
        </li>
    </ul>
</nav>



    <ul class="list-group">
        @foreach (var contentItemSummary in Model.ContentItems)
        {
            <li class="list-group-item">
                @await DisplayAsync(contentItemSummary)
            </li>
        }
    </ul>

    @await DisplayAsync(Model.Pager)






